@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 55px 70px 65px;
    max-width: 1440px;
    margin: 0 auto;
    background: #161516;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1330px;
    margin-bottom: 45px;
}

.header__tittle {
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    color: white;
    margin-top: 0;
    margin-bottom: 45px;
}

.header__info {
    align-self:flex-end;
    display: flex;
    margin-bottom: 25px;
}

.header__info-sum {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: white;
    align-self: center;
    margin-right: 10px;
}


img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

}